.notre-centre-page {
    background-color: #f9f9f9; /* Noir doux */
    color: #000000;
    padding: 50px;
  }
  
  .notre-centre-page .header h1 {
    font-size: 2.5rem;
    color: #C0A667; /* Doré élégant */
    margin-bottom: 50px;
    text-align: center;
  }
  
  /* Description Section */
  .notre-centre-page .description {
    margin: 30px auto;
    font-size: 1.1rem;
    line-height: 1.8;
    font-family: 'Roboto', sans-serif;
    max-width: 800px;
  }
  
  .notre-centre-page .description p {
    margin-bottom: 20px; /* Espacement entre les paragraphes */
  }
  
  .notre-centre-page .description strong {
    color: #C0A667;
  }
  
  /* Opening Hours Section */
  .notre-centre-page .opening-hours {
    margin-top: 50px;
    padding: 20px;
    border: 1px solid #C0A667;
    border-radius: 10px;
    background-color: #1a1a1a;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .notre-centre-page .opening-hours h2 {
    font-size: 1.8rem;
    color: #C0A667;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .notre-centre-page .opening-hours ul {
    list-style: none;
    padding: 0;
  }
  
  .notre-centre-page .opening-hours li {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    font-size: 1.2rem;
    border-bottom: 1px solid #444;
    padding-bottom: 8px;
  }
  
  .notre-centre-page .opening-hours li span {
    font-weight: bold;
    color: #C0A667;
  }
  
  /* Location Section */
  .notre-centre-page .location {
    margin-top: 50px;
    padding: 20px;
    text-align: center;
  }
  
  .notre-centre-page .location h2 {
    font-size: 1.8rem;
    color: #C0A667;
    margin-bottom: 10px;
  }
  
  .notre-centre-page .location p {
    font-size: 1.2rem;
    color: #ffffff;
    line-height: 1.6;
  }
  
  /* Responsive */
  @media (min-width: 768px) {
    .notre-centre-page .page-container {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  