.page-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding: 20px;
  background-color: #f9f9f9;
}

.shop-container {
  z-index: 2;
  max-width: 1200px;
  margin: 20px auto; 
  padding: 50px; 
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

h2{
  color: #C0A667;
}

.button-module_button-9td2v.button-module_underlined-H3lcl .button-module_label-PH\+kE{
  color: black !important;
}

.button-module_button-9td2v:not(.button-module_linked-yJ4Uk):not(.button-module_underlined-H3lcl):not(.button-module_hasAvailabilities-1a8rw).button-module_isFullWidth-6Z3\+A {
  background-color: #c0a667 !important;
}

.button-module_button-9td2v:not(.button-module_linked-yJ4Uk):not(.button-module_underlined-H3lcl):not(.button-module_hasAvailabilities-1a8rw).button-module_large-oun2l {
  background-color: #c0a667 !important;
}